<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SK_AU_14/SK14---automation-Java">
        <classes>
            <class name="Lecture16.gui.regression.login.LoginTest">
                <methods>
                    <include name="navigatingAndLoggingIn"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>