<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SK_AU_14/SK14---automation-Java">
        <classes>
            <class name="Lecture17.LoginTest">
                <methods>
                    <include name="verifyUserCanLoginWithValidCredentials"/>
                </methods>
                <methods>
                    <include name="verifyUserCanNOTLoginWithINValidCredentials"/>
                </methods>
            </class>
            <class name="Lecture17.PostTest">
                <methods>
                    <include name="verifyUserCanCreateNewPostAndDeleteIt"/>
                </methods>
            </class>
            <class name="Lecture17.RegistrationTest">
                <methods>
                    <include name="verifyUserCanRegisterWithValidData"/>
                </methods>
                <methods>
                    <include name="verifyUserCanNotRegisterWithINValidData"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>