<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test-methodSuite" parallel="methods" thread-count="2">
    <groups>
        <run>
            <include name="regression"/>
            <include name="smoke"/>
        </run>
    </groups>
    <test name="Test-method test" group-by-instances="true">
        <classes>
            <class name="lecture10.examples.GroupTests"/>
            <class name="lecture10.TestNGClass"/>
        </classes>
    </test>
</suite>